.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/disuko_website_retro_version/images/backgroundTilesPng2.png") 0% 0% / 25px 25px;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.navbarPixel:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.scrollParallax:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: none;
  left: auto;
  top: auto;
}
.columns {
  display: flex;
  position: relative;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  backdrop-filter: blur(0px);
  align-self: auto;
  width: auto;
  height: auto;
  -webkit-backdrop-filter: blur(0px);
  --plsmc-rc-col-gap: 0px;
  padding: 0px 8px 8px;
  margin: 0px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__fzMMo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__fzMMo {
    display: none;
  }
}
.freeBox__hxonS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__lcxqO {
  display: block;
  position: relative;
  width: 100%;
  height: 234px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.link__h38Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-aIqUSITccedz);
  min-width: 0;
  padding: 8px;
  margin: 10px;
}
.text__i5XxJ {
  width: auto;
  height: 100%;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  text-align: center;
  font-size: 16px;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__i5XxJ {
    font-size: 24px;
    width: auto;
  }
}
.text__b1CH {
  width: auto;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  text-align: center;
  font-size: 32px;
  text-decoration-line: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__b1CH {
    font-size: 24px;
    width: auto;
  }
}
.link__nVMd3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-aIqUSITccedz);
  min-width: 0;
  padding: 8px;
  margin: 10px;
}
.text___5P5Zv {
  width: auto;
  height: 100%;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  text-align: center;
  font-size: 16px;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5P5Zv {
    font-size: 24px;
    width: auto;
  }
}
.text___6Qxrv {
  width: auto;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  text-align: center;
  font-size: 32px;
  text-decoration-line: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6Qxrv {
    font-size: 24px;
    width: auto;
  }
}
.column__dDReu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  flex-wrap: nowrap;
  align-content: stretch;
  box-shadow: none;
  min-width: 0;
  padding: 10px;
}
.retroDisuko:global(.__wab_instance) {
  align-self: flex-start;
  flex-shrink: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .retroDisuko:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
    display: none;
  }
}
.freeBox__a61Md {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  background: var(--token-aIqUSITccedz);
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.freeBox__oyqkL {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px;
}
.text__rzs9C {
  width: 817px;
  height: 100%;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  text-align: center;
  font-size: 32px;
  padding-bottom: 0px;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rzs9C {
    font-size: 24px;
    width: auto;
  }
}
.freeBox__qoJCa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 100%;
  align-self: center;
  background: var(--token-51-e1302o9bz);
  box-shadow: 0px 4px 16px 0px #00000033;
  padding: 10px;
  margin: 10px;
}
.text__lsTi2 {
  position: relative;
  width: auto;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  left: auto;
  top: auto;
  text-align: center;
}
.freeBox__d2T2G {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  max-width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d2T2G {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.link___89QIv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-51-e1302o9bz);
  box-shadow: 0px 4px 16px 0px #00000033;
  padding: 20px;
  margin: 10px;
}
.text__u2Ixi {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 20px;
  min-width: 0;
}
.img__mW7KQ {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 244px;
  object-position: 50% 50%;
  min-width: 0;
  flex-shrink: 0;
  margin: 10px;
}
.img__mW7KQ > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text__rRYdE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-xnuG0pvbpe-s);
  font-size: 18px;
  min-width: 0;
}
.text__pehuY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 12px;
  min-width: 0;
}
.link__kZl2D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-51-e1302o9bz);
  box-shadow: 0px 4px 16px 0px #00000033;
  padding: 20px;
  margin: 10px;
}
.text__qg5Od {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 20px;
  min-width: 0;
}
.img___42Huh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 244px;
  width: 100%;
  object-position: center top;
  min-width: 0;
  flex-shrink: 0;
  margin: 10px;
}
.img___42Huh > picture > img {
  object-fit: cover;
  object-position: center top;
}
.text__fjtw9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  font-size: 18px;
  min-width: 0;
}
.text___4Jl7D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  font-size: 12px;
  padding-bottom: 0px;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__nbTjt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-51-e1302o9bz);
  box-shadow: 0px 4px 16px 0px #00000033;
  padding: 20px;
  margin: 10px;
}
.text__nz8Re {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 20px;
  min-width: 0;
}
.img__wqLfO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 244px;
  flex-shrink: 0;
  margin: 10px;
}
.img__wqLfO > picture > img {
  object-fit: cover;
}
.text__rvZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  font-size: 18px;
  min-width: 0;
}
.text__tq9Tt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  font-size: 12px;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__zasq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-51-e1302o9bz);
  box-shadow: 0px 4px 16px 0px #00000033;
  padding: 20px;
  margin: 10px;
}
.text__ujGMg {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  font-size: 20px;
  min-width: 0;
}
.img__oe2Lg {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 244px;
  min-width: 0;
  flex-shrink: 0;
  margin: 10px;
}
.img__oe2Lg > picture > img {
  object-fit: cover;
}
.text__aJDlC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  font-size: 18px;
  min-width: 0;
}
.text__s1Xmi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  font-size: 12px;
  min-width: 0;
}
.freeBox___8B4Im {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-51-e1302o9bz);
  box-shadow: 0px 4px 16px 0px #00000033;
  padding: 20px;
  margin: 10px;
}
.text__szMec {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 20px;
  min-width: 0;
}
.img__tTam0 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 244px;
  min-width: 0;
  flex-shrink: 0;
  margin: 10px;
}
.img__tTam0 > picture > img {
  object-fit: cover;
}
.text__dipon {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  font-size: 18px;
  min-width: 0;
}
.text__ywVwE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 12px;
  min-width: 0;
}
.freeBox__oERw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-51-e1302o9bz);
  box-shadow: 0px 4px 16px 0px #00000033;
  padding: 20px;
  margin: 10px;
}
.text__wqVlK {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 20px;
  min-width: 0;
}
.img__l1Rbx {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 244px;
  min-width: 0;
  flex-shrink: 0;
  margin: 10px;
}
.img__l1Rbx > picture > img {
  object-fit: cover;
}
.text__arW1F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  font-size: 18px;
  min-width: 0;
}
.text__g0DO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 12px;
  min-width: 0;
}
.freeBox___6MYo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-_q1LmbxynQWv);
  box-shadow: 0px 4px 16px 0px #00000033;
  padding: 20px;
  margin: 10px;
}
.text__wcaPk {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 24px;
  min-width: 0;
}
.img__c93Xn {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 244px;
  min-width: 0;
  flex-shrink: 0;
  margin: 10px;
}
.img__c93Xn > picture > img {
  object-fit: cover;
}
.text__pn7Xe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-xnuG0pvbpe-s);
  font-size: 18px;
  padding-top: 0px;
  min-width: 0;
}
.text__vkRcN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 12px;
  min-width: 0;
}
.freeBox__sDibm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-_q1LmbxynQWv);
  box-shadow: 0px 4px 16px 0px #00000033;
  padding: 20px;
  margin: 10px;
}
.text__ehGgX {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 24px;
  min-width: 0;
}
.img__waurb {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 244px;
  min-width: 0;
  flex-shrink: 0;
  margin: 10px;
}
.img__waurb > picture > img {
  object-fit: cover;
}
.text__usXBp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  font-size: 18px;
  min-width: 0;
}
.text__x3AL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 12px;
  min-width: 0;
}
.freeBox__atotv {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___3KAe {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__md6Ho {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-aIqUSITccedz);
  min-width: 0;
  padding: 8px;
  margin: 10px;
}
.text__rDc86 {
  width: 817px;
  height: 100%;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  text-align: center;
  font-size: 32px;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rDc86 {
    font-size: 24px;
    width: auto;
  }
}
.text___0G94Z {
  width: 817px;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  text-align: center;
  font-size: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0G94Z {
    font-size: 24px;
    width: auto;
  }
}
.freeBox__vxRmS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 100%;
  align-self: center;
  background: var(--token-51-e1302o9bz);
  box-shadow: 0px 4px 16px 0px #00000033;
  padding: 10px;
  margin: 10px;
}
.text__hGgTy {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  left: auto;
  top: auto;
  text-align: center;
  font-size: 12px;
}
.iframe:global(.__wab_instance) {
  width: 936px;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-height: 848px;
}
.column__oM3D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__oM3D {
    display: none;
  }
}
.freeBox__oFpSr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.footerPixel:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
