.root {
  display: flex;
  transition-property: all;
  transition-duration: 1s;
  filter: none;
  flex-direction: column;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.rootunblurred {
  filter: blur(0px);
}
.text {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 50%;
  right: 0px;
  text-align: center;
  z-index: 10;
  color: var(--token-FYHois2LGA8g);
  font-size: 32px;
  filter: drop-shadow(0px 2px 0px var(--token-2-xYYArPyRUR));
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.textunblurred {
  opacity: 0;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  filter: blur(5px);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.5s;
  padding: 0px;
}
.freeBoxunblurred {
  filter: blur(0px);
  transform: none;
}
.img__jZxv0 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 384px;
  width: 100%;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.img__jZxv0 > picture > img {
  object-fit: cover;
}
