.root {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 40px;
  height: 22px;
  overflow: visible;
  min-width: 40px;
  min-height: 40px;
  padding: 0px;
}
.img {
  object-fit: cover;
  transition-property: transform;
  transition-duration: 0.1s;
  transform: perspective(0px) translate3d(0px, 30px, 0px);
  transform-origin: 0% 0%;
  backface-visibility: hidden;
  perspective: 0px;
  transition-timing-function: ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.1s;
}
.img > picture > img {
  object-fit: cover;
}
.root:hover .img {
  transform: perspective(0px) translate3d(0px, 10px, 0px);
}
