.imageWindow19 {
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    4px 4px 0px 0px var(--token-GXH3dzbZuw1x),
    -4px -4px 0px 0px var(--token-FYHois2LGA8g);
  display: inline-flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  background: var(--token-1TXFysFOBXKj);
  position: relative;
  width: auto;
  justify-self: flex-start;
  padding: 10px;
  margin: 10px;
}
.imageWindow19global_theme_classic {
  background: var(--token-4IQYJ82NsyMZ);
  box-shadow:
    4px 4px 0px 0px var(--token-K_FDgNby8UmH),
    -4px -4px 0px 0px var(--token-24x9Uc_JThUA);
}
.freeBox {
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0px;
}
.img___0OOw2 {
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  height: 338px;
  align-self: auto;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  margin: 0;
}
.img___0OOw2 > picture > img {
  object-fit: cover;
}
