.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/disuko_website_retro_version/images/backgroundJpg.jpg") left 50% bottom 0% / cover repeat fixed;
  min-width: 0;
  min-height: 0;
  padding: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 10px;
  }
}
.windowButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.popover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  height: 100%;
  width: 25px;
  align-self: auto;
  min-height: 0;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  isolation: auto;
  backdrop-filter: none;
  filter: none;
  transform: skew(0deg, 0deg);
  max-width: 3392px;
  row-gap: 10px;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
  -webkit-backdrop-filter: none;
  padding: 30px;
}
.main * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    transform-style: preserve-3d;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .main * {
    transform-style: preserve-3d;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000024;
  height: 103px;
  flex-shrink: 0;
  border-radius: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.text___0OQyz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "ABeeZee", sans-serif;
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.text__gBMn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-transform: lowercase;
  text-align: center;
  color: var(--token-8jSXug3OFJx9);
  font-family: "Keqima";
  font-size: 24px;
  font-weight: 700;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__lEeu1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.windowBlue__bEdW:global(.__wab_instance) {
  max-width: 512px;
  width: 100%;
  min-width: 0;
}
.img__jkbVl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__jkbVl > picture > img {
  object-fit: cover;
}
.windowBlue__e5Yer:global(.__wab_instance) {
  max-width: 512px;
  width: 100%;
  min-width: 0;
}
.img___0Eriz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img___0Eriz > picture > img {
  object-fit: cover;
}
.text__gSsL7 {
  width: auto;
  height: auto;
  font-family: "Press Start 2P";
  color: #33af96;
  text-align: center;
  font-size: 16px;
  text-decoration-line: none !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gSsL7 {
    font-size: 24px;
    width: auto;
  }
}
.windowBlue__zayv2:global(.__wab_instance) {
  max-width: 512px;
  width: 100%;
  min-width: 0;
}
.img__xv9Mh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__xv9Mh > picture > img {
  object-fit: cover;
}
.text__g4Tle {
  width: auto;
  height: auto;
  font-family: "Press Start 2P";
  color: #33af96;
  text-align: center;
  font-size: 16px;
  text-decoration-line: none !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g4Tle {
    font-size: 24px;
    width: auto;
  }
}
.column__vdXak {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.window__uBnKr:global(.__wab_instance) {
  max-width: 512px;
  width: 100%;
  min-width: 0;
}
.img__eteZf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__eteZf > picture > img {
  object-fit: cover;
}
.window__r2YN:global(.__wab_instance) {
  max-width: 512px;
  width: 100%;
  min-width: 0;
}
.img__zcOTg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__zcOTg > picture > img {
  object-fit: cover;
}
.window__kg8ZI:global(.__wab_instance) {
  max-width: 512px;
  width: 100%;
  min-width: 0;
}
.img___0IaCm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img___0IaCm > picture > img {
  object-fit: cover;
}
.window__klC6Z:global(.__wab_instance) {
  max-width: 512px;
  width: 100%;
  min-width: 0;
}
.img__dtFl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__dtFl > picture > img {
  object-fit: cover;
}
.window__y8P7:global(.__wab_instance) {
  max-width: 512px;
  width: 100%;
  min-width: 0;
}
.img__ge4Ws {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__ge4Ws > picture > img {
  object-fit: cover;
}
.window__eDtWq:global(.__wab_instance) {
  max-width: 512px;
  width: 100%;
  min-width: 0;
}
.img___3KMh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img___3KMh > picture > img {
  object-fit: cover;
}
.window__vzDz1:global(.__wab_instance) {
  max-width: 512px;
  width: 100%;
  min-width: 0;
}
.img__ubtVw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__ubtVw > picture > img {
  object-fit: cover;
}
.window__c5IUf:global(.__wab_instance) {
  max-width: 512px;
  width: 100%;
  min-width: 0;
}
.img__ab3NM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__ab3NM > picture > img {
  object-fit: cover;
}
.window__wH23A:global(.__wab_instance) {
  max-width: 512px;
  width: 100%;
  min-width: 0;
}
.img___4DfD5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img___4DfD5 > picture > img {
  object-fit: cover;
}
.window__z0T2Z:global(.__wab_instance) {
  max-width: 512px;
  width: 100%;
  min-width: 0;
}
.img__wdYb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__wdYb > picture > img {
  object-fit: cover;
}
.window___4Ihlp:global(.__wab_instance) {
  max-width: 512px;
  width: 100%;
  min-width: 0;
}
.img__pxaRz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__pxaRz > picture > img {
  object-fit: cover;
}
.column__gz0D5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
