.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/disuko_website_retro_version/images/backgroundJpg.jpg") left 50% bottom 0% / cover repeat-y
    fixed;
  filter: blur(0px);
  backdrop-filter: brightness(0%);
  mix-blend-mode: normal;
  isolation: auto;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  min-height: 0;
  -webkit-backdrop-filter: brightness(0%);
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: url("/plasmic/disuko_website_retro_version/images/backgroundJpg.jpg") left 50% bottom 0% / auto auto
      repeat-y;
  }
}
.rootglobal_theme_classic {
  background: var(--token-2cxCto4hpENi);
}
.navbar:global(.__wab_instance):global(.__wab_instance) {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  margin-bottom: 0px;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: none;
  isolation: auto;
  backdrop-filter: brightness(90%) blur(8px);
  filter: none;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  max-width: 3392px;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  min-height: 0;
  -webkit-backdrop-filter: brightness(90%) blur(8px);
  padding: 30px;
}
.main > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.main > :global(.__wab_flex-container) > *,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.main > :global(.__wab_flex-container) > picture > img,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    padding: 10px;
  }
}
.freeBox__iNumN {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__iNumN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__iNumN > :global(.__wab_flex-container) > *,
.freeBox__iNumN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iNumN > :global(.__wab_flex-container) > picture > img,
.freeBox__iNumN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iNumN {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iNumN > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iNumN > :global(.__wab_flex-container) > *,
  .freeBox__iNumN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iNumN > :global(.__wab_flex-container) > picture > img,
  .freeBox__iNumN
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__s1Xm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__lXnnN {
  width: auto;
  height: auto;
  max-width: 800px;
  font-family: "ABeeZee", sans-serif;
  color: var(--token-nuq8pItUbtLm);
  font-size: 56px;
  text-align: center;
}
.textglobal_theme_classic__lXnnNeNktM {
  font-family: "VT323";
}
.text__jdxSm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-transform: lowercase;
  text-align: center;
  color: var(--token-nuq8pItUbtLm);
  font-family: "ABeeZee", sans-serif;
  font-size: 24px;
  box-shadow: none;
  background: none;
  backdrop-filter: none;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: none;
  line-height: 1.1;
  -webkit-backdrop-filter: none;
  border-radius: 15px;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jdxSm {
    font-size: 18px;
  }
}
.textglobal_theme_classic__jdxSmeNktM {
  font-family: "VT323";
}
.freeBox__yDuY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__yDuY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__yDuY > :global(.__wab_flex-container) > *,
.freeBox__yDuY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yDuY > :global(.__wab_flex-container) > picture > img,
.freeBox__yDuY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.headshot {
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000024;
  height: 100%;
  width: 100%;
  object-position: left top;
  min-width: 0;
  min-height: 0;
  border-radius: 30px;
}
.headshot > picture > img {
  object-fit: cover;
  object-position: left top;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headshot {
    height: 194px;
    width: 127.05%;
    object-position: 50% -18px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .headshot > picture > img {
    object-position: 50% -18px;
  }
}
.headshotglobal_theme_classic {
  box-shadow: -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
  border-radius: 0px;
}
.freeBox__a9Bbt {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__a9Bbt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__a9Bbt > :global(.__wab_flex-container) > *,
.freeBox__a9Bbt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a9Bbt > :global(.__wab_flex-container) > picture > img,
.freeBox__a9Bbt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.windowButton__oX6B:global(.__wab_instance) {
  max-width: 100%;
}
.text__dcKO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.textglobal_theme_classic__dcKOeNktM {
  color: var(--token-lpL2YkgMM450);
}
.windowButton___6RFoD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__goaQ6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.textglobal_theme_classic__goaQ6ENktM {
  color: var(--token-lpL2YkgMM450);
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.imm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.window__p6Lhm:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__qwXj9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: calc(10px + 0px) !important;
  margin-bottom: 10px;
  box-shadow: -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin-right: 10px;
  margin-left: 10px;
}
.img__qwXj9 > picture > img {
  object-fit: cover;
}
.film {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.window__oqDxY:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__azDap {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: calc(10px + 0px) !important;
  margin-bottom: 10px;
  box-shadow: -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin-right: 10px;
  margin-left: 10px;
}
.img__azDap > picture > img {
  object-fit: cover;
}
._3DDesign {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.window__iSq4J:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__v0XiG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: calc(10px + 0px) !important;
  margin-bottom: 10px;
  box-shadow: -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin-right: 10px;
  margin-left: 10px;
}
.img__v0XiG > picture > img {
  object-fit: cover;
}
.music {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.window__cifFm:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__u2Kt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: calc(10px + 0px) !important;
  margin-bottom: 10px;
  box-shadow: -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin-right: 10px;
  margin-left: 10px;
}
.img__u2Kt > picture > img {
  object-fit: cover;
}
._2DDesign {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.window__tlLqO:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__kMwug {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: calc(10px + 0px) !important;
  margin-bottom: 10px;
  box-shadow: -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin-right: 10px;
  margin-left: 10px;
}
.img__kMwug > picture > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
