.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #018281;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: #018281;
  }
}
.finalAlbumSubjectToChange2023 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 205px;
  top: 74px;
  width: 701px;
  box-shadow: 4px 4px 0px 0px #00000063;
}
.finalAlbumSubjectToChange2023 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .finalAlbumSubjectToChange2023 {
    transform: none;
    left: 36px;
    top: 30px;
    width: 347px;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .finalAlbumSubjectToChange2023 * {
    transform-style: preserve-3d;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
